@page "/contacts"
@using HHL.Core.Models;



<uContainer AllignCols="center" CustomClassContainer="">

    <uCol CustomStyle="background-image: url('../img/img13.jpg'); background-position: 50% 65%;background-size: cover; text-align:center;">


        <div class="py-100">
            <h1 class="font-white font-weight-semi-bold" style="font-size:72px">Got a question?</h1>

            <p class="font-white" style="font-size:20px;">We'd love to talk about how we can help you.</p>
        </div>
    </uCol>

</uContainer>



<uContainer AllignCols="center" CustomClassContainer="py-65" CustomStyleContainer="border-bottom: 1px solid #e7eaf3">

    <uCol AlignCol="center" Width="25%">

        <div style="text-align:center; border-right: 1px solid #e7eaf3">
            <svg xmlns="http://www.w3.org/2000/svg" height="56px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#icon8">
<style type="text/css">
    .icon-8-0 {
        fill: none;
        stroke: #377DFF;
    }

    .icon-8-1 {
        fill: none;
        stroke: #BDC5D1;
    }

    .icon-8-3 {
        fill: #BDC5D1;
    }

    .icon-8-4 {
        fill: #377DFF;
    }

    .icon-8-5 {
        fill: none;
        stroke: #FFFFFF;
    }
</style>
<path class="icon-8-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M104.7,93.2c-2,3-4.4,5.8-6.9,8.4"></path>
<path class="icon-8-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M41.5,6.8c2.1-0.6,4.3-1.1,6.5-1.5"></path>
<path class="icon-8-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M16.2,22.2c3.8-3.9,8.1-7.3,12.8-10.1"></path>
<path class="icon-8-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M8.3,32.7c0.8-1.4,1.7-2.8,2.6-4.1"></path>
<path class="icon-8-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M57.4,118.4c-9.8,0-19.1-2.5-27.1-6.9"></path>
<path class="icon-8-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M82.4,112.6c-1.9,0.9-3.8,1.7-5.8,2.5"></path>
<g>
            <line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="44.6" y1="46.9" x2="76.7" y2="46.9"></line>
            <line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.1" y1="46.9" x2="37.3" y2="46.9"></line>
            <line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.1" y1="76" x2="74.9" y2="76"></line>
            <line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.2" y1="76" x2="100.8" y2="76"></line>
</g>
<line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="57.4" y1="15.4" x2="57.4" y2="107.5"></line>
<path class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M71,17.4c-4.3-1.3-8.8-2-13.6-2C32,15.4,11.3,36,11.3,61.4c0,25.5,20.6,46.1,46.1,46.1  c25.5,0,46.1-20.6,46.1-46.1c0-5.3-0.9-10.4-2.6-15.2"></path>
<path class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M70.4,21.6c-1.3-1.4-2.8-2.6-4.3-3.5c-2.7-1.7-5.7-2.7-8.7-2.7c-14.3,0-25.9,20.6-25.9,46.1  c0,25.5,11.6,46.1,25.9,46.1c14.3,0,25.9-20.6,25.9-46.1c0-4.7-0.4-9.3-1.2-13.6"></path>
<path class="icon-8-3 fill-gray-400" opacity=".5" d="M97.2,9.3c-11.5,0-20.7,9.3-20.7,20.7c0,6.1,7.2,19.7,19,36c0.4,0.6,1,0.8,1.7,0.8c0.7,0,1.3-0.3,1.7-0.8  c11.8-16.1,19-29.7,19-36C117.9,18.6,108.6,9.3,97.2,9.3z"></path>
<path class="icon-8-4 fill-primary" d="M91.1,1.6c-11.5,0-20.7,9.3-20.7,20.7c0,6.1,7.2,19.7,19,36c0.4,0.6,1,0.8,1.7,0.8c0.7,0,1.3-0.3,1.7-0.8  c11.8-16.1,19-29.7,19-36C111.7,11,102.4,1.6,91.1,1.6z"></path>
<circle class="icon-8-5 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="91.1" cy="22.4" r="9.6"></circle>
</svg>
            <div class="mt-10">
                <h6 class="font-weight-normal-bold mb-0">Address</h6>
                <p>777 Bay st, Toronto</p>
            </div>
        </div>

    </uCol>

    <uCol AlignCol="center" Width="25%">

        <div style="text-align:center; border-right: 1px solid #e7eaf3">
            <svg xmlns="http://www.w3.org/2000/svg" height="56px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#icon15">
<style type="text/css">
    .icon-15-0 {
        fill: none;
        stroke: #BDC5D1;
    }

    .icon-15-1 {
        fill: #BDC5D1;
    }

    .icon-15-2 {
        fill: #377DFF;
    }

    .icon-15-3 {
        fill: none;
        stroke: #FFFFFF;
    }

    .icon-15-4 {
        fill: none;
        stroke: #377DFF;
    }
</style>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="25.2" y1="66.2" x2="35.9" y2="66.2"></line>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="44.3" y1="76.4" x2="33.2" y2="76.4"></line>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="27.8" y1="76.5" x2="22.3" y2="76.5"></line>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="6.4" y1="85.8" x2="11.8" y2="85.8"></line>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.1" y1="85.8" x2="33.1" y2="85.8"></line>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.1" y1="76.5" x2="1.8" y2="76.5"></line>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="19" y1="66.2" x2="15.4" y2="66.2"></line>
<path class="icon-15-1 fill-gray-400" opacity=".5" d="M115.7,114.2H38.7c-2.4,0-4.3-2-4.3-4.3v-48c0-2.4,2-4.3,4.3-4.3h76.9c2.4,0,4.3,2,4.3,4.3v48  C120,112.2,118,114.2,115.7,114.2z"></path>
<path class="icon-15-2 fill-primary" d="M106.1,102.9H29.2c-2.4,0-4.3-2-4.3-4.3v-48c0-2.4,2-4.3,4.3-4.3h76.9c2.4,0,4.3,2,4.3,4.3v48  C110.4,100.9,108.5,102.9,106.1,102.9z"></path>
<g>
            <line class="icon-15-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="78.4" y1="81.6" x2="109.6" y2="101.5"></line>
            <line class="icon-15-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="56.9" y1="81.6" x2="25.6" y2="101.5"></line>
            <line class="icon-15-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="25.6" y1="47.9" x2="67.6" y2="78.6"></line>
            <line class="icon-15-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="109.6" y1="47.9" x2="67.6" y2="78.6"></line>
</g>
<path class="icon-15-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M106.1,102.9H29.2c-2.4,0-4.3-2-4.3-4.3v-48c0-2.4,2-4.3,4.3-4.3h76.9c2.4,0,4.3,2,4.3,4.3v48  C110.4,100.9,108.5,102.9,106.1,102.9z"></path>
<line class="icon-15-3 fill-none stroke-white" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="70" y1="95.1" x2="55.8" y2="95.1"></line>
<line class="icon-15-3 fill-none stroke-white" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="76.2" y1="95.1" x2="82.6" y2="95.1"></line>
<path class="icon-15-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M89.9,107.9"></path>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="72.5" y1="36.3" x2="90.4" y2="36.3"></line>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="108.7" y1="27.9" x2="103.4" y2="27.9"></line>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="98" y1="27.9" x2="82.1" y2="27.9"></line>
<line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="97" y1="36.2" x2="112.4" y2="36.2"></line>
<path class="icon-15-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M5,41.6V14.7c0-2.1,1.8-3.9,3.9-3.9h77.8c2.2,0,3.9,1.7,3.9,3.9v5.5"></path>
<g>
            <line class="icon-15-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.5" y1="20.3" x2="47.4" y2="39.2"></line>
            <line class="icon-15-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="78" y1="20" x2="47.6" y2="39.2"></line>
</g>
<path class="icon-15-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M25.2,5.8"></path>
</svg>
            <div class="mt-10">
                <h6 class="font-weight-normal-bold mb-0">Email</h6>
                <p>support@homehealthlife.app</p>
            </div>
        </div>



    </uCol>

    <uCol AlignCol="center" Width="25%">

        <div style="text-align:center; border-right: 1px solid #e7eaf3" class="py-30">
            <svg xmlns="http://www.w3.org/2000/svg" height="56px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#icon16">
<style type="text/css">
    .icon-16-0 {
        fill: #BDC5D1;
    }

    .icon-16-1 {
        fill: #377DFF;
    }

    .icon-16-2 {
        fill: none;
        stroke: #FFFFFF;
    }

    .icon-16-3 {
        fill: none;
        stroke: #BDC5D1;
    }

    .icon-16-4 {
        fill: none;
        stroke: #377DFF;
    }
</style>
<path class="icon-16-0 fill-gray-400" opacity=".5" d="M19.3,28.1L19.3,28.1C14,33.4,10.9,40.6,11,48.2c0.2,10.7,5.1,26.6,24.7,46.2c11.5,11.5,21.5,17.7,29.8,20.7  c11.8,4.3,25.1,1.2,34-7.7l0,0c1.8-1.8,1.8-4.8,0-6.6L85.2,86.5c-1.8-1.8-4.7-1.8-6.5-0.1l-8.6,8c0,0-25.3-9.2-37.6-37.6l7.7-7.7  c2.1-2.1,2.1-5.5,0-7.6L26.9,28.1C24.8,26,21.4,26,19.3,28.1z"></path>
<path class="icon-16-1 fill-primary" d="M9,30.9L9,30.9c-5.3,5.3-8.4,12.5-8.3,20.1c0.2,10.7,5.1,26.6,24.7,46.2c11.5,11.5,21.5,17.7,29.8,20.7  c11.8,4.3,25.1,1.2,34-7.7l0,0c1.8-1.8,1.8-4.8,0-6.6L74.9,89.2c-1.8-1.8-4.7-1.8-6.5-0.1l-8.6,8c0,0-25.3-9.2-37.6-37.6l7.7-7.7  c2.1-2.1,2.1-5.5,0-7.6L16.6,30.9C14.5,28.8,11.1,28.8,9,30.9z"></path>
<line class="icon-16-2 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="9" y1="32.2" x2="23.4" y2="46.6"></line>
<line class="icon-16-2 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="88.7" y1="111.9" x2="74" y2="97.2"></line>
<path class="icon-16-2 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M61.3,97.1l-5.2,5.3c0,0-8.9-2.9-18.7-12.4"></path>
<path class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M34.7,86.2"></path>
<path class="icon-16-2 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M32.5,84.9c0,0-3.7-3.9-5.9-7.7"></path>
<g>
            <g>
            <g>
            <path class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M64.3,1.7c1.7-0.1,3.3-0.1,5,0"></path>
            <path class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="11.2267,11.2267" d="M80.4,3.5c5.3,1.5,10.5,3.8,15.3,6.9"></path>
            <path class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M100.2,13.8c1.3,1.1,2.5,2.2,3.7,3.4"></path>
		</g>
	</g>
</g>
<path class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M103.9,17.1c19.2,19.2,19.2,50.4,0,69.7"></path>
<path class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M28.9,17.1c9.8-9.8,22.5-15,35.4-15.5"></path>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="97.5" y1="71.1" x2="93.7" y2="69.2"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="101.5" y1="49.1" x2="97.4" y2="50.1"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="49.4" y1="23.1" x2="51.1" y2="28.5"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="71.4" y1="19" x2="70.4" y2="23.1"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="91.9" y1="29.2" x2="87.3" y2="33.8"></line>
<path class="icon-16-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M41.2,29.2c14-14,36.6-14,50.6,0c14,14,14,36.6,0,50.6"></path>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="53.7" y1="66.9" x2="62.9" y2="66.9"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="55.4" y1="54.1" x2="60.7" y2="54.1"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="72.4" y1="54.1" x2="77.7" y2="54.1"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="53.7" y1="41.1" x2="62.9" y2="41.1"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="53.7" y1="57.2" x2="53.7" y2="63.7"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="80.3" y1="55.5" x2="80.3" y2="66.3"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="80.3" y1="41.1" x2="80.3" y2="51.8"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="69.6" y1="41.1" x2="69.6" y2="51.8"></line>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="62.9" y1="44.8" x2="62.9" y2="51.5"></line>
<path class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M107.9,38.6c0,0,5.5,11.5,0.8,25.9"></path>
<path class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M42.1,17.4c0,0,3.4-2.6,7.3-3.6"></path>
<line class="icon-16-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="104.2" y1="31.8" x2="100.8" y2="26.5"></line>
</svg>

            <div class="mt-10">
                <h6 class="font-weight-normal-bold mb-0">Phone Number</h6>
                <p>+1 (650) 603 0833</p>
            </div>
        </div>

    </uCol>

    <uCol AlignCol="center" Width="25%">

        <div style="text-align:center; border-right: 1px solid #fff" class="py-30">
            <svg xmlns="http://www.w3.org/2000/svg" height="56px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#icon17">
<style type="text/css">
    .icon-17-0 {
        fill: none;
        stroke: #BDC5D1;
    }

    .icon-17-2 {
        fill: none;
        stroke: #377DFF;
    }

    .icon-17-3 {
        fill: #377DFF;
    }

    .icon-17-4 {
        fill: none;
        stroke: #FFFFFF;
    }
</style>
<g opacity=".5">
            <g>
            <line class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.9" y1="31.3" x2="100.2" y2="31.3"></line>
            <rect x="105.4" y="29.4" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="3.8"></rect>
	</g>
            <g>
            <line class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.9" y1="41.5" x2="100.2" y2="41.5"></line>
            <rect x="105.4" y="39.6" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="3.8"></rect>
	</g>
            <g>
            <line class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.9" y1="51.7" x2="100.2" y2="51.7"></line>
            <rect x="105.4" y="49.8" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="3.8"></rect>
	</g>
            <g>
            <line class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.9" y1="61.9" x2="100.2" y2="61.9"></line>
            <rect x="105.4" y="60" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="3.8"></rect>
	</g>
            <g>
            <line class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.9" y1="72.1" x2="100.2" y2="72.1"></line>
            <rect x="105.4" y="70.2" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="3.8"></rect>
	</g>
            <g>
            <line class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.9" y1="82.3" x2="100.2" y2="82.3"></line>
            <rect x="105.4" y="80.4" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="3.8"></rect>
	</g>
            <g>
            <line class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.9" y1="92.5" x2="100.2" y2="92.5"></line>
            <rect x="105.4" y="90.6" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="3.8"></rect>
	</g>
</g>
<polyline class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="83.4,20.5 118.5,20.5 118.5,103.3 1.5,103.3 1.5,20.5 6.7,20.5 "></polyline>
<line class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29.8" y1="20.5" x2="35.6" y2="20.5"></line>
<path class="icon-17-2 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M24.3,96.1H12.2c-3,0-5.5-2.5-5.5-5.5V18.1c0-3,2.5-5.5,5.5-5.5h12.1c3,0,5.5,2.5,5.5,5.5v72.5  C29.8,93.6,27.3,96.1,24.3,96.1z"></path>
<polyline class="icon-17-2 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="17.8,96.1 17.8,109.3 6.7,109.3 "></polyline>
<g>
            <rect x="35.6" y="10.7" class="icon-17-3 fill-primary" width="47.8" height="28.8"></rect>
            <g>
            <line class="icon-17-4 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="47.9" y1="22.6" x2="56.8" y2="22.6"></line>
            <line class="icon-17-4 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="47.9" y1="27.5" x2="50.9" y2="27.5"></line>
            <line class="icon-17-4 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="69.1" y1="22.6" x2="71.1" y2="22.6"></line>
	</g>
            <rect x="41" y="15.8" class="icon-17-4 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="36.9" height="18.6"></rect>
            <g>
            <g>
            <rect x="40.3" y="63.1" class="icon-17-2 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
            <rect x="40.3" y="47" class="icon-17-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6.4" height="4.1"></rect>
            <rect x="51" y="47" class="icon-17-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6.4" height="4.1"></rect>
            <rect x="61.6" y="47" class="icon-17-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6.4" height="4.1"></rect>
            <rect x="72.3" y="47" class="icon-17-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6.4" height="4.1"></rect>
            <rect x="54.6" y="63.1" class="icon-17-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
            <rect x="68.9" y="63.1" class="icon-17-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
		</g>
            <g class="icon-17-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
            <rect x="40.3" y="72.3" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
            <rect x="54.6" y="72.3" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
            <rect x="68.9" y="72.3" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
		</g>
            <g class="icon-17-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
            <rect x="40.3" y="81.6" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
            <rect x="54.6" y="81.6" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
            <rect x="68.9" y="81.6" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
		</g>
            <g class="icon-17-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
            <rect x="40.3" y="90.9" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
            <rect x="54.6" y="90.9" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
            <rect x="68.9" y="90.9" class="icon-17-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="4.1"></rect>
		</g>
	</g>
</g>
</svg>

            <div class="mt-10">
                <h6 class="font-weight-normal-bold mb-0">Email</h6>
                <p>+1 (650) 603 0844</p>
            </div>
        </div>

    </uCol>

</uContainer>


<uContainer AllignCols="center" CustomStyleContainer="padding-top:120px">

    <uCol>

        <div style="text-align:center;">
            <span class="btn btn-xs btn-soft-success btn-pill mb-10">Leave a Message</span>
            <h2 class="font-blue font-weight-normal">Just ask us <span class="font-weight-semi-bold">anything</span> !</h2>
            <p>Whether you have questions or you would just like to say hello, contact us.</p>
        </div>


    </uCol>


</uContainer>



@if (!IsMessageSent)
{
    <EditForm Model="@ContactFormModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <uContainer AllignCols="center" CustomClassContainer="pt-40" CustomStyleContainer="max-width:888px;">

            <uCol AlignCol="center" CustomClass="px-15" Grow="1">

                <uFormInput IsGroup="true" Type="child" Label="Full Name" Id="yourName">

                    <InputText bind-Value="@ContactFormModel.Name" id="yourName" class="form-control" />
                    <ValidationMessage for="@(()=> ContactFormModel.Name)" />
                </uFormInput>
            </uCol>

            <uCol AlignCol="center" CustomClass="px-15" Grow="1">

                <uFormInput IsGroup="true" Type="child" Label="Email" Id="email">
                    <InputText bind-Value="@ContactFormModel.Email" id="email" class="form-control" />
                    <ValidationMessage for="@(()=> ContactFormModel.Email)" />
                </uFormInput>

            </uCol>

        </uContainer>






        <uContainer AllignCols="center" CustomClassContainer="pt-20" CustomStyleContainer="max-width:888px;">

            <uCol AlignCol="center" CustomClass="px-15" Grow="1">
                <uFormInput IsGroup="true" Type="child" Label="Subject" Id="subject">
                    <InputText bind-Value="@ContactFormModel.Subject" id="subject" class="form-control" />
                    <ValidationMessage for="@(()=> ContactFormModel.Subject)" />
                </uFormInput>
            </uCol>

            <uCol AlignCol="center" CustomClass="px-15" Grow="1">

                <uFormInput IsGroup="true" Type="child" Label="Phone" Id="phone">
                    <InputText bind-Value="@ContactFormModel.Phone" id="phone" class="form-control" />
                    <ValidationMessage for="@(()=> ContactFormModel.Phone)" />
                </uFormInput>

            </uCol>

        </uContainer>


        <uContainer AllignCols="center" CustomClassContainer="pt-20" CustomStyleContainer="max-width:888px;">

            <uCol AlignCol="center" CustomClass="px-15" Grow="1">

                <uFormInput IsGroup="true" Type="child" Label="How can we help you?" Rows="4" Id="message">
                    <InputTextArea bind-Value="@ContactFormModel.Message" id="message" class="form-control temp_textarea" />
                    <ValidationMessage for="@(()=> ContactFormModel.Message)" />
                </uFormInput>

            </uCol>


        </uContainer>



        <uContainer AllignCols="center" CustomClassContainer="pt-20 pb-80" CustomStyleContainer="max-width:888px;">

            <uCol AlignCol="center" Grow="1" CustomStyle="text-align:center;">

                <uButton Color="blue" Type="Submit" Title="Submit"></uButton>
                <p class="small mt-10">We'll get back to you in 1-2 business days.</p>
            </uCol>


        </uContainer>

    </EditForm>
}
else
{


        <uContainer AllignCols="center" CustomClassContainer="py-70" CustomStyleContainer="max-width:888px;">

            <uCol AlignCol="center" CustomClass="px-15 text-center" Grow="1">


                <h1 class="font-green animated fadeIn"> Message Sent </h1>
                <uFontAwesomeIcon Thickness="l" Size="46px" CustomClass="font-green pt-10 animated fadeIn"  Icon="plane" />

            </uCol>


        </uContainer>





}



@functions {

    ContactFormModel ContactFormModel = new ContactFormModel();

    bool IsMessageSent = false;


    void HandleValidSubmit()
    {


        IsMessageSent = true;

        Console.WriteLine("OnValidSubmit");
    }

}
