@page "/account/security/changepassword"



    <uContainer AllignCols="center"  CustomClassContainer="pb-65 pt-65 bg-grey-light">

        <uCol Width="992px">
            <uContainer AllignCols="center">

                <uCol CustomStyle="text-align: left">

                    <div class="mb-45">

                        <h3 class="font-blue font-weight-normal mb-0">Change Password</h3>
                    </div>


                    <EditForm Model="@ChangePasswordModel" OnValidSubmit="@HandleChangePasswordModelSubmit">
                        <DataAnnotationsValidator />


                        @if (!Errors.IsNullOrEmpty())
                        {

                            <div class="mb-20">

                                @foreach (var error in Errors)
                                {
                                    <div class="validation-message">
                                        @error.Message
                                    </div>
                                }
                            </div>


                        }



                        <uFormInput IsGroup="true" Type="child" Label="Email" Id="Email">

                            <InputPassword bind-Value="@ChangePasswordModel.CurrentPassword" id="CurrentPassword" class="form-control" Placeholder="Enter your current password" />
                            <ValidationMessage for="@(()=> ChangePasswordModel.CurrentPassword)" />


                        </uFormInput>


                        <uFormInput IsGroup="true" Type="child" Label="New Password" Id="NewPassword">

                            <InputPassword bind-Value="@ChangePasswordModel.NewPassword" id="NewPassword" class="form-control" Placeholder="Enter your password" />
                            <ValidationMessage for="@(()=> ChangePasswordModel.NewPassword)" />


                        </uFormInput>

                        <uFormInput IsGroup="true" Type="child" Label="Confirm Password" Id="ConfirmPassword">

                            <InputPassword bind-Value="@ChangePasswordModel.ConfirmPassword" id="ConfirmPassword" class="form-control" Placeholder="Confirm your password" />
                            <ValidationMessage for="@(()=> ChangePasswordModel.ConfirmPassword)" />


                        </uFormInput>


 

                        <uContainer>


                            <uCol  AlignCol="center" CustomStyle="text-align:right">

                                <uButton Type="Submit" Title="Save Password" />

                            </uCol>

                        </uContainer>

                    </EditForm>


                </uCol>

            </uContainer>

        </uCol>


    </uContainer>





@functions {


    ChangePasswordModel ChangePasswordModel = new ChangePasswordModel();

    IEnumerable<ErrorMdl> Errors;

    [Parameter]
    private bool isLoading { get; set; } = false;


    void HandleChangePasswordModelSubmit()
    {

    }
}
